*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
body{
    background-color: rgb(58, 58, 58);
}
.banner{
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url("./background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
}
.logo{
    height: 100px;
    width: 250px;
}
.dropdownList select{
    font-size: 1.2rem;
    height: 40px;
}
.navbar{
    display: flex;
    justify-content: end;
    margin-top: -70px;
    gap: 30px;
}
.signIn{
    margin-right: 30px;
}
select{
    background: transparent;
    color: white;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
}
select option{
    background-color: black;
}
.signIn button{
    height: 40px;
    background-color: red;
    color: white;
    width: 90px;
    border-radius: 5px;
    border: none;
    height: 40px;
    font-size: 1.2rem;
}
.hero{
    display: flex;  
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    top: 80px;
}
.hero h1{
    font-size: 3rem;
    font-weight: bolder;
}
.hero p{
    font-size: 1rem;
}
.membership{
    margin-top: 30px;
}
.email p{
    font-size: 1.5rem;
}
.inputEmail{
    display: flex;
    justify-content: center;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 600px;
    margin-top: 20px;
}
input[type="text"]{
    background-color: rgba(0, 0, 0, 0.585);
    width: 100%;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
}
.email button{
    background-color: red;
    width: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 5px;
    border-radius: 5px;
    color: white;
    border: none;
}
.features{
    background-color: black;
    height: 60vh;
    margin: 4px 0;
}
.features img{
    position: relative;
    top: -5%;
    right: 10%;
    float: right;
    height: 50%;
    width: 30%;
}
span{
    font-size: 2rem;
    font-weight: bold;
}
.features p{
    color: white;
    position: relative;
    top: 25%;
    left: 10%;
    max-width: 40%;
    font-size: 1.5rem;
}

.featuresTwo{
    background-color: black;
    height: 60vh;
    margin: 4px 0;
    overflow-y: hidden;
}
.featuresTwo img{
    position: relative;
    top: -35%;
    left: 10%;
    float: left;
    height: 50%;
    width: 30%;
}
.featuresTwo p{
    color: white;
    height: 60%;
    width: 40%;
    position: relative;
    margin-left: 50%;
    font-size: 1.5rem;
    top: 25%;
}
.faq{
    background-color: black;
    color: white;
    text-align: center;
    padding: 0 0 15px;
}
.faq h2{
    font-size: 2rem;
    font-weight: lighter;
    padding: 20px 0 ;
}
.accordian{
    background-color: rgba(39, 38, 38, 0.642);
    max-width: 60%;
    margin-left: 50%;
    transform: translateX(-50%);
}
.accordian li{
    list-style: none;
}
.accordian .question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding: 10px 20px;
}
.question label{
    cursor: pointer;
}
.accordian .content{
    background-color: rgba(51, 50, 50, 0.642);
    color:  white;
    text-align: left;
    margin: 0 10px;
    padding: 0 20px;
    font-size: 1.2rem;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease;
}
input[type="radio"]{
    display: none;
}
.accordian input[type="radio"]:checked + .question + .content{
    height: 100px;
}
.end{
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 0 0 15px;
}
.email .membership{
    text-align: center;
    color: white;
}
.footer{
    background-color: black;
    margin: 4px 0 0 0;
    color: rgb(111, 111, 111);
    padding: 20px 0 20px 10px;
    width: 100%;
}
.footer p{
    font-size: 1.3rem;
}
.foot{
    display: flex;
    flex-direction: row;
}
.row1{
    width: 100%;
    background-color: black;
    color: white;
    list-style: none;
    font-size: 1.2rem;
    padding: 0  0 30px 10px;
}

/* To make responsive for Tablet and Mobile Phones */

@media (max-width:990px){
    .banner{
        height: 50vh;
    }
    .logo{
        height: 70px;
        width: 220px;
    }
    .navbar{
        margin-top: -50px;  
    }
    .dropdownList select{
        font-size: 1rem;
        height: 35px;
    }
    .signIn button{
        height: 36px;
        font-size: 1rem;
    }
    .hero h1{
        font-size: 2.5rem;
    }
    .email p{
        font-size: 1.3rem;
    }
    .inputEmail{
        width: 500px;
    }
    input[type="text"]{
        padding: 15px;
    }
    .features {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .features p{
        text-align: center;
        position: relative;
        left: -2%;
        top: -5%;
    }
    .features img{
        height: 40%;
        width: 30%;
        position: relative;
        top: -2%;
        left: 2%;
    }
    span{
        font-size: 1.5rem;
        font-weight: bold;
    }
    .featuresTwo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .featuresTwo p{
        text-align: center;
        position: relative;
        left: -26%;
        top: 10%;
    }
    .featuresTwo img{
        height: 40%;
        width: 30%;
        position: relative;
        top: -2%;
        left: 2%;
    }
    .accordian .content{
        font-size: 0.9rem;
    }
    .footer p{
        font-size: 1rem;
    }
    .row1{
        font-size: 1rem;
    }
}
@media (max-width:570px){
    .logo{
        height: 50px;
        width: 200px;
    }
    .navbar{
        margin-top: -50px;  
    }
    .dropdownList select{
        font-size: 0.5rem;
        height: 20px;
    }
    .signIn button{
        height: 23px;
        font-size: 0.5rem;
    }
    .hero h1{
        font-size: 1.5rem;
    }
    
    .email p{
        font-size: 0.7rem;
    }
    .inputEmail{
        width: 300px;
        height: 40px;
    }
    .inputEmail{
        display: flex;
        flex-direction: column;
    }
    .email button{
        font-size: 0.5rem;
        height: 50px;
        position: relative;
        left: 23%;
        margin-top: 5px;
    }
    .inputEmail{
        height: 50px;
    }
    input[type="text"]{
        padding: 10px;
        width: 80%;
        position: relative;
        left: 7%;
    }
    .features {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .features p{
        text-align: center;
        position: relative;
        left: -2%;
        top: -5%;
        font-size: 0.7rem;
    }
    .features img{
        height: 20%;
        width: 30%;
        position: relative;
        top: -2%;
        left: 2%;
    }
    span{
        font-size: 1.2rem;
        font-weight: bold;
    }
    .featuresTwo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .featuresTwo p{
        text-align: center;
        position: relative;
        left: -26%;
        top: 10%;
        font-size: 0.7rem;
    }
    .featuresTwo img{
        height: 20%;
        width: 30%;
        position: relative;
        top: -15%;
        left: 2%;
    }
    .faq h2{
        font-size: 1rem;
    }
    .accordian .question{
        font-size: 0.7rem;
    }
    .accordian .content{
        font-size: 0.6rem;
        padding-left: 10px;
    }
    .footer p{
        font-size: 0.5rem;
    }
    .row1{
        font-size: 0.5rem;
    }
}